.wrapper {
    display: grid;
    grid-template-columns: repeat(15, 70px);

    padding: 5px;
}

.text {
    border: 0.5px solid rgb(199, 199, 199);
    width: 1040px;
    height: 150px;
    margin: 0 auto;
    margin-left: 6px;
    border-radius: 5px;
}

.text:focus {
    outline: none;
}

.wrapper :nth-child(14),
.wrapper :nth-child(42),
.wrapper :nth-child(55) {
    grid-column-start: 14;
    grid-column-end: 16;

}

.wrapper :nth-child(30),
.wrapper :nth-child(43) {
    grid-column-start: 1;
    grid-column-end: 3;

}

.wrapper :nth-child(59) {
    grid-column-start: 4;
    grid-column-end: 11;


}


.k-key {
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: #d6d5d5;
    margin: 3px;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;

}

.k-key:hover{
    background-color: #c0c0c0;
}

.active {
    background-color: #eaeaea
}

.active:hover {
    background-color: #eaeaea   
}

.description {
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 6px;
}